header {
    width: 100%;
    height: 100px;
    background-color: #9ec5fe;
    display: flex;
}

body .container {
    position: relative;
}

header #logotipo {
    position: absolute;
    width: 20%;
    height: 150px;
    margin-top: -30px;

}

.image-fundo {
    background-color: #fdfbf5;
    height: 98vh;
    width: 98.5vw;
}

#menu li {
    display: inline-block;
}

#row {
    float: right;
}